@font-face {
  font-family: 'Mundial';
  src: url('/src/assets/font/MundialRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSans';
  src: url('/src/assets/font/SourceSans3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'SourceSans', sans-serif; 
    @apply bg-lightGray overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Mundial', sans-serif;
    @apply text-primaryDark font-bold mb-3;
  }
  button{
    font-family: 'SourceSans', sans-serif; 
  }
  h1 {
    @apply text-4xl font-bold; 
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-medium;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium ;
  }
  h6 {
    @apply text-base font-medium; 
  }
  ul {
    @apply list-disc pl-10 mb-4;
  }
  ol {
    @apply list-decimal pl-10 mb-4;
  }
  li {
    @apply mb-1;
  }
  i{
    @apply italic 
  }
  strong {
    @apply font-bold;
  }
  blockquote {
    @apply border-l-4 border-accent pl-4 italic text-neutral;
  }

}
ul {
  list-style-type: disc; 
}
ul ul {
  list-style-type: circle; 
}

ul ul ul {
  list-style-type: square; 
}


@layer components {
  .font-heading {
    font-family: 'Mundial', sans-serif;
  }
  .active{
    @apply bg-accent size-10 rounded-xl text-white;
  }
}

@layer utilities {
  .mask-image-custom {
    -webkit-mask-image: url('assets/images/section1.png'); 
    mask-image: url('assets/images/section1.png');
    -webkit-mask-size: cover;
    mask-size: cover;
  }


}


.scroll-smooth {
  scroll-behavior: smooth;
}
[x-cloak] { display: none; }
.plus-minus-icon {
    position: relative;
    width: 24px;
    height: 24px;
}
.plus-minus-icon::before,
.plus-minus-icon::after {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.5s ease;
}
.plus-minus-icon::before {
    top: 50%;
    left: 25%;
    width: 50%;
    height: 2px;
    transform: translateY(-50%);
}
.plus-minus-icon::after {
    top: 25%;
    left: 50%;
    width: 2px;
    height: 50%;
    transform: translateX(-50%);
}
.plus-minus-icon.minus::after {
    transform: translateX(-50%) scaleY(0);
}


.slide-item {
  flex: 0 0 calc(20% - 1rem);
  user-select: none;
}

.slider-container {
  cursor: grab;
}

.slider-container:active {
  cursor: grabbing;
}

@media (max-width: 1024px) {
  .slide-item {
      flex: 0 0 calc(33.333% - 1rem);
  }
}

@media (max-width: 640px) {
  .slide-item {
      flex: 0 0 calc(50% - 1rem);
  }
}
