@font-face {
  font-family: 'Mundial';
  src: url('/src/assets/font/MundialRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSans';
  src: url('/src/assets/font/SourceSans3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'SourceSans', sans-serif; 
    @apply bg-lightGray overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Mundial', sans-serif;
    @apply text-primaryDark;
  }
  button{
    font-family: 'SourceSans', sans-serif; 
  }
}

@layer components {
  .font-heading {
    font-family: 'Mundial', sans-serif;
  }
  /* .btn-primary {
    @apply bg-primary text-white font-semibold py-2 px-4 rounded-lg shadow-button;
  }
  .btn-secondary {
    @apply bg-secondary text-black font-semibold py-2 px-4 rounded-lg;
  } */
}

@layer utilities {
  .mask-image-custom {
    -webkit-mask-image: url('assets/images/section1.png'); 
    mask-image: url('assets/images/section1.png');
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}



[x-cloak] { display: none; }
.plus-minus-icon {
    position: relative;
    width: 24px;
    height: 24px;
}
.plus-minus-icon::before,
.plus-minus-icon::after {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.5s ease;
}
.plus-minus-icon::before {
    top: 50%;
    left: 25%;
    width: 50%;
    height: 2px;
    transform: translateY(-50%);
}
.plus-minus-icon::after {
    top: 25%;
    left: 50%;
    width: 2px;
    height: 50%;
    transform: translateX(-50%);
}
.plus-minus-icon.minus::after {
    transform: translateX(-50%) scaleY(0);
}